body {
    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Nunito', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 60px;
}

header div {
    background-image: url('../img/Pipe.png');
    background-repeat: no-repeat;
    width: 685px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 35px;
    color: #F4F4F4;
    line-height: 55px;
}

header div p {
    margin: 0 80px;
}

header button {
    cursor: pointer;
    background-color: #e52521;
    border: 3px solid #f4f4f4;
    border-radius: 10px;
    color: #F4F4F4;
    width: 200px;
    height: 52px;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    line-height: 49px;
    margin-right: 80px;
}

header button:hover {
    background-color: #f4f4f4;
    color: #e52521;
    border: 3px solid #e52521;
    transition: 0.5s;
}

main {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 80%;
    margin: 0 auto;
    row-gap: 70px;
}

main img {
    width: 200px;
    height: 200px;
}